{% extends "base.html" %} {% block app_content %}

<h3>Calculate the annual cost of your air conditioner</h3>
<div class="row">
  <div class="col-md-4">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
        {{ form.postal.label }}<br />
        {{ form.postal(size=32) }}<br /><br />
        {{ form.years.label }}<br />
        {{ form.years }}<br /><br />
        {{ form.brand.label }}<br />
        {{ form.brand() }}<br /><br />
        {{ form.model.label }}<br />
        {{ form.model() }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    <div>
      <img src="static/homer.png" height="200" />
    </div>
    <div style="padding-top:20px">
      <a href="{{ url_for('about') }}"
        ><button class="btn btn-info">Learn more</button></a
      >
    </div>
  </div>
</div>

{% endblock %} {% block scripts %}
{{ super() }}
<script>
  function update_models() {
    brand = $("#brand").val();
    if (brand.length) {
      $("#model").empty();
      $.get("{{ url_for('get_models') }}", { brand: brand }, function(data) {
        $.each(data, function(index, value) {
          var option = $("<option></option>")
            .attr("value", value)
            .text(value);
          $("#model").append(option);
        });
      });
    }
  }
  $("#brand").on("change", function() {
    update_models();
  });
  $("document").ready(function() {
    update_models();
  });
</script>
{% endblock %}
